{% extends 'emailer/base.html' %}
{% load static %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        {% for object in object_list %}
            {% if not object.is_superuser %}
                <tbody>
                <tr>
                    <th scope="row">{{ object.email }}</th>
                    <td>{{ object.first_name }}</td>
                    <td>{{ object.last_name }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                                <a type="button" href="{% url 'users:user_update' object.pk %}" class="btn btn-outline-secondary">Edit</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}