{% extends 'emailer/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                        {% if object %}
                            <a href="{% url 'emailer:blog_view' object.pk %}" type="button" class="btn btn-secondary">Отмена</a>
                        {% else %}
                            <a href="{% url 'emailer:main' %}" type="button" class="btn btn-secondary">Отмена</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}