{% extends 'emailer/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <p>Really want to delete "{{ object.title }}"?</p>
            <button type="submit" class="btn btn-warning">Confirm</button>
            <a href="{% url 'emailer:blog_view' object.pk %}" type="button" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}