{% extends 'emailer/base.html' %}
{% block content %}
    <div class="col-12">
        <form class="row" method="POST" enctype="multipart/form-data">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            {% if object %}
                                Change subscription
                            {% else %}
                                Create subscription
                            {% endif %}
                        </h2>
                        <hr>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Save
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                        <a href="{% url 'emailer:subscription_list' %}" type="button" class="btn btn-secondary">Back</a>
                        {% if object %}
                            <a href="{% url 'emailer:subscription_delete' object.pk %}" type="button" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
