{% extends 'emailer/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p><b>Delete this message "{{ object.subject }}"?</b></p>
                        <button type="submit" class="btn btn-warning">Confirm</button>
                        <a href="{% url 'emailer:message_detail' object.pk %}" type="button" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}