{% extends 'emailer/base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
    <div type="button">
        <a href="{% url 'emailer:message_create' %}" class="btn btn-outline-success">New message</a>
    </div>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        {% for object in object_list %}
            <tbody>
            <tr>
                <th scope="row">
                    <a type="button" class="btn btn-outline-secondary" href="{% url 'emailer:message_detail' object.pk %}">{{ object.subject }}</a>
                </th>
                <td>{{ object.mail | truncatechars:200 }}</td>
                <td>
                    {% if user.is_staff or user.is_superuser %}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" href="{% url 'emailer:message_update' object.pk %}" class="btn btn-outline-secondary">Edit</a>
                    {% else %}
                        <button type="button" href="{% url 'emailer:message_update' object.pk %}" class="btn btn-outline-secondary" disabled>Edit</button>
                    </div>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}
